<div class="login-panel panel panel-default" style="max-width:500px;margin:0 auto">
    <div class="panel-heading">
        <h1 class="panel-title">{{ title }}</h1>
    </div>
    <div class="panel-body">
        <form role="form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="field">
                    <input class="input-field" placeholder="E-mail" [(ngModel)]="user.email" #email="ngModel" name="email" type="email" autocomplete="on"
                        required>
                    <validate-message [label]="'Email'" [input]="email" [submited]="loginForm.submitted"></validate-message>
                </div>
                <div class="field">
                    <input class="input-field" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
                        value="" required>
                    <validate-message [label]="'Password'" [input]="password" [submited]="loginForm.submitted"></validate-message>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block touch"> Login
                    <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </fieldset>
        </form>
    </div>
</div>