<form #createBundleGroupForm="ngForm" (ngSubmit)="onSubmit()">
    <section class="segment with-annotation">
        <div class="content ">
            <aside class="annotation "></aside>
            <header class="segment-header">
                <h1>{{title}}</h1>
                <p class="intro"></p>
            </header>
        </div>
    </section>

    <section *ngIf="!onShowBundleTypeList()" class="segment with-annotation">
        <div class="content ">
            <aside class="annotation ">
                <div>
                    <h2>Choose a bundle type</h2>
                </div>
            </aside>
            <div class="card ">
                <div class="bundle-type-selector">
                    <div class="bundle_type_option_container" style="display: flex;">

                        <div *ngFor="let item of bundleTypes" class="bundle_type_option_holder " (click)="onBundleType(item.id)">
                            <div class="card sub-card bundle_type_option " [ngClass]="{'selected': bundleType == item.id, 'disabled_feature bundle_type_option__disabled_contents': item.disabled == true}">
                                <p class="title">{{item.title}}</p>
                                <img src="{{item.image}}">
                                <p class="description">{{item.desc}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="bundleType==bundleTypes[0].id" class="segment with-annotation">
        <div class="content ">
            <aside class="annotation ">
                <div>
                    <h2>Choose products</h2>
                </div>
            </aside>
            <div class="card ">
                <div></div>
                <div *ngIf="!loading && bundleGroup.products.length==0">
                    <button type="button" class="btn" (click)="addProducts()">Add Products</button>
                </div>

                <table *ngIf="bundleGroup.products.length>0" class="bundle-product-requirement-table">
                    <thead>
                        <tr class="bundle-product-requirement-header">
                            <th class="bundle-product-requirement-image-header">Image</th>
                            <th class="align_text_left">Title</th>
                            <th>Quantity</th>
                            <th>Regular Price</th>
                            <th>Deal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of bundleGroup.products;let i = index;" class="bundle-product-requirement">
                            <td>
                                <img class="bundle-product-requirement-image" src="{{item.image_url}}">
                            </td>
                            <td>
                                <a href="//{{shopDomain}}/products/{{item.handle}}" target="_blank">{{item.title}}</a>
                            </td>
                            <td class="bundle-product-requirement-quantity-col">
                                <div class="field">
                                    <select class="select-field" [(ngModel)]="item.product_quantity" name="product_quantity" (ngModelChange)="onChangeQuantity($event)"
                                        disabled>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </td>
                            <td class="bundle-product-requirement-price-col">${{item.old_price}}</td>
                            <td class="bundle-product-requirement-deal-col">${{item.new_price}}</td>
                            <td class="bundle-product-requirement-actions-col">
                                <button type="button" class="btn " (click)="delete(i, item)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>

                        <tr class="bundle-product-requirement-price-option">
                            <td colspan="2">
                                <button type="button" class="btn " (click)="addProducts()">Add Products</button>
                            </td>
                            <td colspan="2" class="bundle-product-requirement-label-col">
                                <span>Set percentage discount</span>
                            </td>
                            <td class="bundle-product-requirement-deal-col" [ngClass]="{'active-discount-mode':bundleGroup.discount_method==='percentage'}">
                                <div class="field">
                                    <input (ngModelChange)="onChangePercent($event)" type="number" class="input-field data-hj-whitelist" [(ngModel)]="bundleGroup.percent"
                                        name="percent" minlength="0">
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="bundle-product-requirement-price-option">
                            <td colspan="4" class="bundle-product-requirement-label-col">Set fixed price discount</td>
                            <td class="bundle-product-requirement-deal-col" [ngClass]="{'active-discount-mode':bundleGroup.discount_method==='fixed_amount'}">
                                <div class="field">
                                    <input (ngModelChange)="onChangeFixedPrice($event)" type="number" class="input-field data-hj-whitelist" [(ngModel)]="bundleGroup.fixed_price"
                                        name="fixed_price" minlength="0">
                                </div>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr class="bundle-product-requirement-price-total">
                            <td colspan="4" class="bundle-product-requirement-label-col">
                                <strong>Your customer pays</strong>
                            </td>
                            <td class="bundle-product-requirement-deal-col">
                                <strong>${{bundleGroup.total}}</strong>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section *ngIf="bundleType==bundleTypes[1].id" class="segment with-annotation">
        <div class="content ">
            <aside class="annotation ">
                <div>
                    <h2>Choose products</h2>
                </div>
            </aside>

            <div class="card ">
                <div class="card-section">
                    <h2>Select products</h2>
                    <div>
                        <button type="button" class="btn" (click)="addFreeProducts()">Add Products</button>
                    </div>
                    <table *ngIf="bundleGroup.offer.products.length" class="table table-bordered table-striped" style="margin-top: 20px">
                        <thead>
                            <th style="width: 150px">Product ID</th>
                            <th style="width: 150px">Product Image</th>
                            <th>Product Title</th>
                            <th style="width: 50px"></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of bundleGroup.offer.products;let i = index">
                                <td>
                                    <strong>{{item.id}}</strong>
                                </td>
                                <td>
                                    <img alt="" width="50" src="{{item.image_url}}">
                                </td>
                                <td>
                                    <a target="_blank" href="//{{shopDomain}}/products/{{item.handle}}">{{item.title}}</a>
                                </td>
                                <td>
                                    <button type="button" class="btn " (click)="deleteofferProduct(i, item)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-section">
                    <h2>Configure Price Levels</h2>
                    <table id="price_level_table" class="table with-row-borders offers">
                        <thead>
                            <tr class="top">
                                <th style="text-align: left; width:25%;">Origin Qty</th>
                                <th style="text-align: left; width:25%;">Free Qty</th>
                                <th style="width:15%;">% off</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="sortable">
                            <tr *ngFor="let item of bundleGroup.offer.price_levels; let i = index">
                                <td class="col_qty">
                                    <input class="input-field" [(ngModel)]="bundleGroup.offer.price_levels.origin_qty" name="item.origin_qty+{{i}}" type="hidden">
                                    <span>{{ item.origin_qty }}</span>
                                </td>
                                <td class="col_qty">
                                    <input class="input-field" [(ngModel)]="bundleGroup.offer.price_levels.free_qty" name="item.free_qty+{{i}}" type="hidden">
                                    <span>{{ item.free_qty }}</span>
                                </td>
                                <td class="col_value">
                                    <input class="input-field" [(ngModel)]="bundleGroup.offer.price_levels.value" name="item.value+{{i}}" type="hidden">
                                    <span>{{ item.value }}</span>
                                </td>
                                <td class="buttons">
                                    <a title="Delete Row" class="btn btn-shopify" (click)="deleteLevel(i)">
                                        <i class="fa fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <input class="input-field" type="number" min="1" [(ngModel)]="addOriginQty" name="addOriginQty" placeholder="Origin Quantity">
                                </td>
                                <td>
                                    <input class="input-field" type="number" min="1" [(ngModel)]="addFreeQty" name="addFreeQty" placeholder="Free Quantity">
                                </td>
                                <td>
                                    <input class="input-field" type="number" min="1" max="100" [(ngModel)]="addValue" name="addValue" placeholder="Value">
                                </td>
                                <td class="buttons">
                                    <a title="Add Price Level" (click)="addLevel()" class="btn btn-primary ">
                                        <i class="fa fa-plus"></i> Add
                                    </a>
                                    <a title="Clear Values" (click)="clearAddLevel()" class="btn btn-primary ">
                                        <i class="fa fa-remove"></i> Clear
                                    </a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="bundleType==bundleTypes[2].id" class="segment with-annotation">
        <div class="content ">
            <aside class="annotation ">
                <div>
                    <h2>Choose products</h2>
                </div>
            </aside>

            <div class="card ">
                <div class="card-section">
                    <h2>Select trigger products</h2>
                    <p>The upsell popup will show when ANY of the following products are in the cart</p>
                    <div>
                        <button type="button" class="btn" (click)="addTriggerProducts()">Add Products</button>
                    </div>
                    <table *ngIf="bundleGroup.cross_sell.triggerProducts && (bundleGroup.cross_sell.triggerProducts | json) != '[]'" class="table table-bordered table-striped"
                        style="margin-top: 20px">
                        <thead>
                            <th style="width: 150px">Product ID</th>
                            <th style="width: 150px">Product Image</th>
                            <th>Product Title</th>
                            <th style="width: 50px"></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of bundleGroup.cross_sell.triggerProducts;let i = index">
                                <td>
                                    <strong>{{item.id}}</strong>
                                </td>
                                <td>
                                    <img alt="" width="50" src="{{item.image_url}}">
                                </td>
                                <td>
                                    <a target="_blank" href="//{{shopDomain}}/products/{{item.handle}}">{{item.title}}</a>
                                </td>
                                <td>
                                    <button type="button" class="btn " (click)="deleteTriggerProduct(i, item)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-section">
                    <h2>Select the products to upsell</h2>
                    <p>These will be the products shown in the upsell popup</p>
                    <div>
                        <button type="button" class="btn" (click)="addOfferProducts()">Add Products</button>
                    </div>
                    <table *ngIf="bundleGroup.cross_sell.offerProducts && (bundleGroup.cross_sell.offerProducts | json) != '[]'" class="table table-bordered table-striped"
                        style="margin-top: 20px">
                        <thead>
                            <th style="width: 150px">Product ID</th>
                            <th style="width: 150px">Product Image</th>
                            <th>Product Title</th>
                            <th>Description</th>
                            <th style="width: 50px"></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of bundleGroup.cross_sell.offerProducts;let i = index">
                                <td valign="top">
                                    <strong>{{item.id}}</strong>
                                </td>
                                <td valign="top">
                                    <img alt="" width="50" src="{{item.image_url}}">
                                </td>
                                <td valign="top">
                                    <a target="_blank" href="//{{shopDomain}}/products/{{item.handle}}">{{item.title}}</a>
                                </td>
                                <td *ngIf="item.recommend" valign="top">
                                    <p>
                                        <input type="checkbox" [(ngModel)]="item.recommend.show" name="show_{{i}}" />
                                        <b>Show/Hide</b>
                                    </p>
                                    <div *ngIf="item.recommend.show">
                                        <hr>
                                        <div>
                                            <input type="hidden" class="input-field" [(ngModel)]="item.recommend.image" name="image_{{i}}" />
                                            <input type="file" (change)="fileEvent($event, item)" style="margin-bottom:15px" />
                                            <img src="{{item.recommend.image}}" class="img-preview" style="display: block;max-width: 60px;margin-bottom:15px;float:left;margin-right:15px;"
                                            />
                                            <button type="button" class="btn btn-danger" style="display: block" (click)="resetRecommendImage(item)">Reset Image</button>
                                        </div>
                                        <div class="clear">
                                            <hr>
                                            <textarea class="input-field" [(ngModel)]="item.recommend.text" name="text_{{i}}" style="width:100%;padding:10px;min-height: 55px;font-size: 12px;"
                                                placeholder="Ex: Would you like to add our {{item.title}} for ${{item.new_price}} USD and save {{bundleGroup.cross_sell.discountValue}}%?"></textarea>
                                        </div>
                                    </div>
                                </td>
                                <td valign="top">
                                    <button type="button" class="btn " (click)="deleteOfferProduct(i, item)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-section">
                    <h2>Set the discount value</h2>
                    <p>The upsell products will be given the following discount value</p>
                    <div class="input-group">
                        <input type="number" [(ngModel)]="bundleGroup.cross_sell.discountValue" name="discountValue" (ngModelChange)="onChangeOfferPercent($event)"
                            class="input-field" min="0" max="100" required>
                        <span class="append">% off each</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="bundleType" class="segment with-annotation">
        <div class="content ">
            <aside class="annotation "></aside>
            <div class="card ">
                <div class="card-section ">
                    <div class="field">
                        <label class="field-label">Internal name</label>
                        <input type="text" class="input-field data-hj-whitelist" [(ngModel)]="bundleGroup.name" name="name" placeholder="Internal name">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="bundleType" class="segment with-annotation">
        <div class="content ">
            <aside class="annotation "></aside>
            <div class="card ">
                <div class="card-section ">
                    <div class="inherit-bg">
                        <div class="card-section actions">
                            <button type="submit" class="btn btn-primary" [disabled]="loading">
                                <i class="fa fa-save"></i> Save Bundle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>