<div class="tab-pane active">
    <form (ngSubmit)="onSubmit()" #changePassForm="ngForm">
        <div class="form-group">
            <label class="control-label">New Password
                <span class="required">*</span>
            </label>
            <input type="password" [(ngModel)]="user.newPassword" name="newPassword" #newPassword="ngModel" [pattern]="regexHelper.password"
                [minlength]="regexHelper.passwordLength" required class="form-control" autocomplete="off">
            <span class="help-block">Password must be at least 8 characters</span>
            <validate-message [label]="'New password'" [input]="newPassword" [minlength]="regexHelper.passwordLength"></validate-message>
        </div>
        <div class="form-group">
            <label class="control-label">Re-type New Password
                <span class="required">*</span>
            </label>
            <input type="password" [(ngModel)]="user.passwordConfirmation" name="passwordConfirmation" #passwordConfirmation="ngModel"
                required class="form-control" autocomplete="off" />
            <validate-message [label]="'Password confirmation'" [input]="passwordConfirmation" [equal]="newPassword.value" [equalTo]="'New Password'"></validate-message>
        </div>
        <div class="margin-top-10">
            <button type="submit" class="btn btn-primary touch">
                Change Password </button>
        </div>
    </form>
</div>