<div class="tab-pane active">
    <form (ngSubmit)="onSubmit()" #changeRoleForm="ngForm">

        <div class="form-group">

            <div class="radio">
                <label>
                    <input type="radio" [(ngModel)]="user.role" name="role" value="admin">Admin</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" [(ngModel)]="user.role" name="role" value="marketer">Marketer</label>
            </div>
            <div class="radio disabled">
                <label>
                    <input type="radio" [(ngModel)]="user.role" name="role" value="guest">Guest</label>
            </div>

        </div>

        <div class="margin-top-10">
            <button type="submit" class="btn btn-primary touch">
                <i class="fa fa-save"></i>&nbsp;Save</button>
        </div>

    </form>
</div>