<form #addProductForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="bcr-product-selector">
        <div class="modal is-showing">
            <div class="modal-window modal-medium">
                <div class="modal-header">
                    <h1 class="modal-title">
                        <span>Select individual products</span>
                    </h1>
                    <button type="button" class="btn btn-close" (click)="close()">
                        <svg class="boldicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
                            <polygon points="133 13.001 80.072 65.929 27.143 13.001 13 27.144 65.929 80.072 13 133.001 27.143 147.143 80.072 94.214 133 147.143 147.143 133.001 94.214 80.072 147.143 27.144"></polygon>
                        </svg>
                    </button>
                </div>
                <div class="modal-content">
                    <div class="product-list">
                        <section class="segment">
                            <div class="product-selector-filters">
                                <div class="field-group">
                                    <label for="search" class="field-group-addon">Search</label>
                                    <div class="search-bar">
                                        <input [(ngModel)]="queryProduct" name="queryProduct" type="text" value="" autocomplete="off" class="input-field data-hj-whitelist"
                                            placeholder="Product Name" (ngModelChange)="searchProduct()" [attr.disabled]="showLoading ? true : null">
                                    </div>
                                </div>
                                <div class="field-group">
                                    <label class="field-group-addon">Where</label>
                                    <select class="select-field" [(ngModel)]="whereIn" name="whereIn" (ngModelChange)="changeWhereIn()" [attr.disabled]="showLoading ? true : null">
                                        <option value="">--</option>
                                        <option value="product_types">Product Types</option>
                                        <option value="vendors">Vendors</option>
                                    </select>
                                    <label class="field-group-addon">equals</label>
                                    <select class="select-field" [(ngModel)]="isEqual" name="isEqual" (ngModelChange)="changeEquals()" [attr.disabled]="showLoading ? true : null">
                                        <option value="">--</option>
                                        <option *ngFor="let item of equals" value="{{item}}">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                        </section>

                        <div class="list products-list" [ngClass]="{'divided scrollable': !showLoading, 'loading-screen': showLoading}">
                            <div *ngIf="showLoading" class="loading-holder">
                                <div class="spinner">
                                    <div class="ball bounce1"></div>
                                    <div class="ball bounce2"></div>
                                    <div class="ball bounce3"></div>
                                </div>
                                <h3 class="h3">Loading</h3>
                            </div>

                            <div *ngFor="let item of productList" class="list-item product-item selector-item clickable" [ngClass]="{'selected': onSelected(item), 'disabled': inBundles(item)}"
                                (click)="selectProduct(item)">
                                <div class="list-item-header">
                                    <div class="list-item-image-container">
                                        <div class="list-item-image">
                                            <img src="{{item.image_url}}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item-body">
                                    <div class="selector-item-primary-text">
                                        {{item.title}}
                                    </div>
                                    <div class="selector-item-secondary-text">
                                        <div *ngIf="inBundles(item)" class="disabled_message_holder">
                                            <svg class="boldicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
                                                <path fill-rule="evenodd" d="M80,53.75 C70.68,53.75 63.125,46.195 63.125,36.875 C63.125,27.555 70.68,20 80,20 C89.32,20 96.875,27.555 96.875,36.875 C96.875,46.195 89.32,53.75 80,53.75 L80,53.75 Z M66,139.734 L94,139.734 L94,61.734 L66,61.734 L66,139.734 Z M80,0 C35.817,0 0,35.817 0,80 C0,124.183 35.817,160 80,160 C124.183,160 160,124.183 160,80 C160,35.817 124.183,0 80,0 L80,0 Z"></path>
                                            </svg> Product is in the maximum number of bundles.</div>
                                        <div *ngIf="alreadySelected(item)" class="disabled_message_holder">
                                            <svg class="boldicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
                                                <path fill-rule="evenodd" d="M80,53.75 C70.68,53.75 63.125,46.195 63.125,36.875 C63.125,27.555 70.68,20 80,20 C89.32,20 96.875,27.555 96.875,36.875 C96.875,46.195 89.32,53.75 80,53.75 L80,53.75 Z M66,139.734 L94,139.734 L94,61.734 L66,61.734 L66,139.734 Z M80,0 C35.817,0 0,35.817 0,80 C0,124.183 35.817,160 80,160 C124.183,160 160,124.183 160,80 C160,35.817 124.183,0 80,0 L80,0 Z"></path>
                                            </svg> Already selected</div>
                                    </div>
                                </div>
                                <div class="list-item-foot">
                                    <div class="selector-item-primary-text">${{item.new_price}}</div>
                                    <div *ngIf="item.compare_at_price" class="selector-item-secondary-text">
                                        <del>${{item.compare_at_price}}</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-actions">
                    <button type="submit" class="btn btn-primary" [attr.disabled]="selectedProducts.length == 0 ? true : null">Save Selection</button>
                </div>
            </div>
        </div>
    </div>
</form>