.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity = 20);
}

.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity = 40);
    cursor: pointer;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;
}

.alert-heading {
    color: inherit;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.alert-danger,
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: 5px;
}

/* Toggle switch */
.switch {
    margin: 3px;
    margin-bottom: 10px;
}

input.cmn-toggle-round + label {
    padding: 2px;
    width: 40px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 20px;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 20px;
    transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
    width: 18px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
    margin-left: 20px;
}

.group_disabled_identifier {
    color: #FCF075;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}

.no_margin {
    margin: 0;
}

.btn.disabled, .btn.disabled:active {
    cursor: not-allowed;
    opacity: 0.5;
}

/* Extra Mc Hammer Jammers */
.content:first-child {
    margin-top: 0;
}

.content {
    margin-top: 30px;
}

.messages-container {
    max-width: 1200px;
    margin: 0 auto;
}

.field-message {
    display: none;
}

.with-alert .field-message {
    display: block;
}

.card.sub-card {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: none;
}

.primary-nav .nav-item:first-child > .nav-link > .fa {
    font-size: 22px !important;
    position: relative;
    top: 3px;
}

/* product selector */
.product-wrapper {
    padding: 15px;
}

.popup .content .pagination ul {
    list-style: none;
}

.popup .content .pagination ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

.col_image img {
    max-width: 125px;
    max-height: 125px;
}

/* Tooltip */

div.tooltip {
    min-width: 85px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: default;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    line-height: 19px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    border-radius: 6px;
    margin-right: 3px;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    position: absolute;
    z-index: 100;
    top: -50%;
    bottom: auto;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

td.allow_overflow {
    overflow: visible;
}

.version-number {
    margin-top: 15px;
    text-align: center;
}

@media only screen and (min-width: 801px) {
    .modal.is-showing .modal-window {
        top: 0;
    }

    .modal .list.scrollable {
        min-height: 120px;
        max-height: calc(100vh - 440px);
    }
}

#facebox .popup .close {
    top: 2px;
    right: 9px;
}

#previewLoaderOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 999;
    background-color: #000;
    width: 100%;
    height: 100%;
}

#previewLoaderOverlay .loader {
    border: 4px solid #545454;
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: rotate 1s ease-in-out infinite;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.home_card.card .icon i.fa {
    font-size:35px;
}

a.home_card.card {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    height: 100% !important;

    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
a.home_card.card:hover {
    text-decoration: none;
    transform: translateY(-3px);
    -webkit-box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    -o-box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);

    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
}
a.home_card.card:active {
    text-decoration: none;
}
.home_card.card .icon {
    width:65px;
    display: table;
    text-align: center;
    color:#6EB8E4 ;
}
.home_card.card {
    padding-left: 5px;
    min-height: 100px;
}
.home_card.card .description {
    width:100%;
}
.home_card.card .description h4 {
    margin: 0 0 5px 0;
    color:#4C4C4C ;
    font-style:initial;
}
.homepage-header {
    text-align: center;
    margin-bottom: 30px;
    padding: 12px;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.homepage-header h1 {
    color: #737373;
    margin: 9px;
}

.homepage-header h4 {
    line-height: 26px;
}

.homepage-header span {
    color: #D7D7D7;
    font-size: 46px;
    display: inline;
}

.bold-footer .copyright {
    text-align: center;
    margin-top: 10px;
}
