<div class="admin-page">
    <section class="segment">
        <div class="content">
            <header class="segment-header">
                <h1>Product Bundle Groups</h1>
            </header>
            <div class="segment-header-actions">
                <a routerLink="/create_bundle" class="btn btn-primary">Create New</a>
            </div>
        </div>
    </section>

    <section class="segment">
        <div class="content">
            <div class="card">
                <table class="table with-row-borders sortable admin">
                    <thead>
                        <tr>
                            <th width="80%">Name</th>
                            <th class="center_text" width="15%">Type</th>
                            <th class="center_text">Status</th>
                            <th class="btn-header center_text">Preview</th>
                            <th class="btn-header center_text">Edit</th>
                            <th class="btn-header center_text">Delete</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of bundleGroups">
                            <td class="table-left">{{item.name}}</td>
                            <td>{{item.type}}</td>
                            <td class="status_column allow_overflow">{{status(item)}}</td>
                            <td class="btn-column">
                                <a href="{{linkPreview(item)}}" target="_blank" class="btn btn-small ">
                                    <svg class="bv-icon" viewBox="0 0 24 24">
                                        <path fill="currentColor" d="M19.5857864,3 L12,3 C11.4477153,3 11,2.55228475 11,2 C11,1.44771525 11.4477153,1 12,1 L22,1 C22.5522847,1 23,1.44771525 23,2 L23,12 C23,12.5522847 22.5522847,13 22,13 C21.4477153,13 21,12.5522847 21,12 L21,4.41421356 L11.1952088,14.2190048 C10.8046845,14.6095291 10.1715195,14.6095291 9.7809952,14.2190048 C9.39047091,13.8284805 9.39047091,13.1953155 9.7809952,12.8047912 L19.5857864,3 Z M19,20 L19,16 C19,15.4477153 19.4477153,15 20,15 C20.5522847,15 21,15.4477153 21,16 L21,21 C21,21.5522847 20.5522847,22 20,22 L2,22 C1.44771525,22 1,21.5522847 1,21 L1,4 C1,3.44771525 1.44771525,3 2,3 L8,3 C8.55228475,3 9,3.44771525 9,4 C9,4.55228475 8.55228475,5 8,5 L3,5 L3,20 L19,20 Z"></path>
                                    </svg>
                                </a>
                            </td>
                            <td class="btn-column">
                                <a routerLink="/edit_bundle/{{item._id}}" class="btn btn-small ">
                                    <svg class="bv-icon" viewBox="0 0 24 24">
                                        <path fill="currentColor" d="M16.7600981,2.27435339 C17.175947,1.8585418 17.8501363,1.85855691 18.2659665,2.27438712 L20.7449245,4.75334513 C21.1607811,5.16920169 21.160766,5.84344305 20.7448908,6.25928098 L9.67131685,17.3318554 C9.40445815,17.6003614 9.0836517,17.8092198 8.729835,17.945177 L6.27537872,18.8896563 C4.94542125,19.4024788 3.61732267,18.0754343 4.12939167,16.7446176 L5.07454964,14.2884 C5.20998132,13.937583 5.41706388,13.6180368 5.68417726,13.3492819 L16.7600981,2.27435339 Z M7.96547591,15.957405 C8.03972187,15.9288753 8.10598587,15.8857347 8.16313527,15.8282399 L18.4860376,5.50626245 L17.5129815,4.53320631 L7.19235884,14.8528974 C7.13564696,14.9099594 7.09064046,14.9794083 7.06172593,15.0543056 L6.49673074,16.522581 L7.96547591,15.957405 Z M2,23.0001 C1.44771525,23.0001 1,22.5523847 1,22.0001 C1,21.4478153 1.44771525,21.0001 2,21.0001 L22,21.0001 C22.5522847,21.0001 23,21.4478153 23,22.0001 C23,22.5523847 22.5522847,23.0001 22,23.0001 L2,23.0001 Z"></path>
                                    </svg>
                                </a>
                            </td>
                            <td class="btn-column">
                                <a class="btn btn-small delete-group" (click)="delete(item)">
                                    <svg class="bv-icon" viewBox="0 0 24 24">
                                        <path fill="currentColor" d="M4.14433999,6.44004159 L3.41601581,6.44004159 C2.91011425,6.44004159 2.5,6.03036142 2.5,5.52499532 C2.5,5.01962922 2.91011425,4.60994905 3.41601581,4.60994905 L7.4699354,4.60994905 L7.4699354,1.91504627 C7.4699354,1.40968017 7.88004965,1 8.38595121,1 L15.614232,1 C16.1201336,1 16.5302478,1.40968017 16.5302478,1.91504627 L16.5302478,4.60994905 L20.5839842,4.60994905 C21.0898858,4.60994905 21.5,5.01962922 21.5,5.52499532 C21.5,6.03036142 21.0898858,6.44004159 20.5839842,6.44004159 L19.8558432,6.44004159 L19.8558432,20.8304253 C19.8558432,22.0263908 18.8637981,23 17.642749,23 L6.35651818,23 C5.13730113,23 4.14433999,22.0263908 4.14433999,20.8304253 L4.14433999,6.44004159 Z M14.6982162,4.60994905 L14.6982162,2.83009254 L9.30196702,2.83009254 L9.30196702,4.60994905 L14.6982162,4.60994905 L14.6982162,4.60994905 Z M18.0238116,6.72864719 L5.97637161,6.72864719 L5.97637161,20.8304253 C5.97637161,21.0180098 6.14675055,21.1699075 6.35651818,21.1699075 L17.642749,21.1699075 C17.8534326,21.1699075 18.0238116,21.0180098 18.0238116,20.8304253 L18.0238116,6.72864719 Z M8.67174814,9.1355849 C8.67174814,8.6302188 9.08186239,8.22053863 9.58776396,8.22053863 C10.0936655,8.22053863 10.5037798,8.6302188 10.5037798,9.1355849 L10.5037798,18.7627867 C10.5037798,19.2681528 10.0936655,19.677833 9.58776396,19.677833 C9.08186239,19.677833 8.67174814,19.2681528 8.67174814,18.7627867 L8.67174814,9.1355849 Z M13.496495,9.1355849 C13.496495,8.6302188 13.9066093,8.22053863 14.4125108,8.22053863 C14.9184124,8.22053863 15.3285267,8.6302188 15.3285267,9.1355849 L15.3285267,18.7627867 C15.3285267,19.2681528 14.9184124,19.677833 14.4125108,19.677833 C13.9066093,19.677833 13.496495,19.2681528 13.496495,18.7627867 L13.496495,9.1355849 Z"></path>
                                    </svg>
                                </a>
                            </td>
                            <td class="allow_overflow text-left ">
                                <div>
                                    <switch [status]="onStatus(item)" [onText]="switchStatus.onText" [offText]="switchStatus.offText" [onColor]="switchStatus.onColor"
                                        [offColor]="switchStatus.offColor" [disabled]="switchStatus.disabled" [size]="switchStatus.size"
                                        (statusChange)="onChangeStatus($event, item)"></switch>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>