<section class="segment">
    <div class="content">
        <div class="grid">
            <div class="homepage-header">
                <span class="fa fa-home"></span>
                <h1>Welcome to your Product Bundles app by DigiKai!</h1>
                <p class="intro">This page is just a quick overview of all the different features available in this app. You can access this
                    page any time by clicking the
                    <b>Home</b> icon in the navigation bar above</p>
            </div>
        </div>
    </div>
</section>

<section class="segment">
    <div class="content">
        <div class="grid">
            <div class="column half">
                <a routerLink="/bundles" class="card home_card" data-bold-component-id="viewProductBundleGroups">
                    <div class="icon">
                        <i class="fa fa-cubes"></i>
                    </div>
                    <div class="description">
                        <h4>Product Bundle Groups</h4>
                        View and Edit existing bundle groups.
                    </div>
                </a>
            </div>

            <div class="column half">
                <a routerLink="/create_bundle" class="card home_card" data-bold-component-id="createNewProductBundle">
                    <div class="icon">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="description">
                        <h4>Create New Product Bundles</h4>
                        Create new bundle offers.
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>