.request-loading {
    div {
        width: 8px;
        height: 8px;
        position: fixed;
        left: -20px;
        top: 80px;
        z-index: 99999;
        background-color: #3498DB;
        border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        animation: move 4s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);

        &:nth-child(2) {
            animation-delay: 150ms;
        }

        &:nth-child(3) {
            animation-delay: 300ms;
        }

        &:nth-child(4) {
            animation-delay: 450ms;
        }
    }
}

@keyframes move {
    0% {
        left: 0%;
    }

    75% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}
